#respec-ui {
    visibility: hidden;
}

#title {
    color: #578000;
}

#subtitle {
    color: #578000;
}

.dt-published {
    color: #578000;
}

.dt-published::before {
    content: "Published ";
}

h1, h2, h3, h4, h5, h6 {
    color: #578000;
    font-weight: normal;
    font-style: normal;
}

a[href] {
    color: #45512c;
}

body:not(.toc-inline) #toc h2 {
    color: #45512c;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
}

table th {
    font-weight: 600;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

pre {
    background-color: #f6f8fa !important;
}

code {
    color: #c83500
}

th code {
    color: inherit
}

a.bibref {
    text-decoration: underline;
}

body.darkmode {
    --toclink-underline: #6a9000;
    --toclink-visited-underline: #fff;
}

body.darkmode a,
body.darkmode .tocxref,
body.darkmode .u-url {
    color: #6a9000;
}

body.darkmode code {
    color: #e66c33;
}

body.darkmode:not(.toc-inline) #toc h2,
body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4,
body.darkmode h5,
body.darkmode h6,
body.darkmode #title,
body.darkmode #subtitle,
body.darkmode .toc-inline,
body.darkmode .dt-published {
    color: #7bb01c;
}

body.darkmode pre,
body.darkmode table tr:nth-child(2n),
body.darkmode table tr {
    background-color: #1e1e1e !important;
    color: #dcdcdc;
}

body.darkmode img {
    background: transparent;
}

body.darkmode .logo img {
    display: none;
}

body.darkmode .logo::before {
    content: "";
    display: inline-block;
    height: 48px;
    width: 175px;
    background: url("https://raw.githubusercontent.com/OAI/OpenAPI-Style-Guide/refs/heads/main/graphics/bitmap/OpenAPI_Logo_Pantone.png") no-repeat center / contain;
    vertical-align: middle;
}